@using Femah.Core

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Ordinary stuff here.</p>

@if ( FeatureSwitching.IsFeatureOn((int)FemahFeatureSwitches.ImprovedCheckout)) {
<h3>Feature switch enabled.</h3>
}
